<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Utkal</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/brands.min.css"
      integrity="sha512-8RxmFOVaKQe/xtg6lbscU9DU0IRhURWEuiI0tXevv+lXbAHfkpamD4VKFQRto9WgfOJDwOZ74c/s9Yesv3VvIQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="icon" type="image/x-icon" href="/logo.png">
    <link rel="stylesheet" href="/style2.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand bnav" href="#">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link bnav" href="#">Link</a>
            </li>

            </li>
          </ul>
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success bnav" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>

    <div class="alert alert-primary" role="alert">
      <h4 class="text"><i> Hi..<%= username %> Happy Utkal diwas</i><i class="fa-solid fa-heart"></i></h4>
    </div>

 
        <h5><b>History of Odisha</b> </h5>
       <i class="texthis"> The main revolution in this separate state continued for three decades from the very day of formation of Utkal Sammilani that 
          led to the foundation of a separate Odisha Province. The movement turned 
          more intense under the leadership of Utkala Gouraba Madhusudan Das, 
          Utkala mani Gopabandhu Das, Maharaja SriRam Chandra Bhanj Deo, Maharaja Krushna 
          Chandra Gajapati, Pandit Nilkantha Das, Fakir Mohan Senapati, Dewan Athar 
          Mohammad, Gangadhar Meher, Basudeba Sudhaladeba, Radhanath Ray, Sayeed Mohammed,
           Bhubanananda Das, A. P. Patro and many others with the support of the public. 
           The newly formed Odisha consisted of six districts namely Cuttack, Puri, Baleswar,
            Sambalpur, Koraput and Ganjam with its capital at Cuttack.
          John Austin Hubback took the oath of office and became the first Governor of Odisha Province.</i>
     
<br>
<br>
<div class="alert alert-danger text" role="alert">
 <i><b> HIGHLIGHTS OF ODISHA </b></i>
</div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card">
          <img src="/jaga2.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title"><b>Jagannath Temple</b></h5>
            <p class="card-text">
              The Jagannath Temple is an important Hindu temple dedicated to
              Jagannath, a form of Vishnu one of the trinity of supreme divinity
              in Hinduism. It is located in Puri in the state of Odisha,
              situated on the eastern coast of India. As per temple records, the
              mythical King Indradyumna of Avanti built the main temple.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="/temple.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title"><b>Konark Temple</b></h5>
            <p class="card-text">
              Konark Sun Temple is a 13th-century CE Hindu Sun temple at Konark
              about 35 kilometres (22 mi) northeast from Puri city on the
              coastline in Puri district, Odisha, India.[1][2] The temple is
              attributed to king Narasimhadeva I of the Eastern Ganga dynasty
              about 1250 CE.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="/food.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title"><b>Foods Of odisha</b></h5>
            <p class="card-text">
              When you enter the dynamic state of Odisha, you'll experience a
              culinary frenzy unlike any other. The land of ancient temples and
              a wealth of cultural heritage is also home to an array of
              mouthwatering treats that will excite your taste buds and leave
              you wanting more.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="/tribal2.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title"><b>Tribals of Odisha </b></h5>
            <p class="card-text">
              The term "Scheduled Tribes" signifies specific indigenous groups
              whose status is formally acknowledged to some extent by Indian
              legislation,often colloquially referred to as "tribals" or
              "adibasi." In adherence to the Constitution of the Indian
              Republic, the state of Odisha officially recognizes a total of 64
              distinct tribes as Scheduled Tribes
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img src="/fighter2.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title"><b>Freedom Fighters</b></h5>
            <p class="card-text">
              Madhusudan Das (28 April 1848 – 4 February 1934) was an Indian lawyer and social reformer,
               who founded Utkal Sammilani in 1903 to campaign for the unification of Odisha along with its
                social and industrial development.
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img src="/sports.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title"><b>Sports </b></h5>
            <p class="card-text">
              Born in the Kothasahi village near Puri in Odisha on September 6,
              1995, Kishore Kumar Jena is the youngest of seven children,
              preceded by six sisters, born to Keshab Jena, a paddy farmer, and
              his wife Harapriya. In an effort to support his family, Jena chose
              sports as a career option.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
  <i class="text">Made with Love 	&#9829; by Shubhendu</i>
</html>
